:root {
    --Main-color: #2196f3;
    --Second-color: rgb(15 116 143 / 70%);
    --section-Padding: 70px;
    --section-background-color: #ececec;
    --color-alt: #1787e0;
    --duration: .6s;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.Main-head {
    width: fit-content;
    margin: auto;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    transition: var(--duration);
    z-index: 100;
}

.Main-head>h1 {
    border: 2px solid black;
    width: fit-content;
    padding: 10px 15px;
    margin: auto;
}

.Main-head::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--Main-color);
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    z-index: -1;
}

.Main-head::after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--Main-color);
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    z-index: -1;

}

.Main-head:hover::after {
    animation: right-grow var(--duration) linear forwards;
}

.Main-head:hover::before {
    animation: left-grow var(--duration) linear forwards;
}

.Main-head>h1:hover {
    color: white;
    border: 2px solid white;
    transition-delay: var(--duration);
}

@keyframes left-grow {
    50% {
        left: 0;
        height: 12px;
        width: 12px;
    }

    100% {
        left: 0;
        height: 100%;
        width: 50%;
        border-radius: 0;
    }

}

@keyframes right-grow {
    50% {
        right: 0;
        height: 12px;
        width: 12px;
    }

    100% {
        right: 0;
        height: 100%;
        width: 50%;
        border-radius: 0;
    }

}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* mobile screens  */
@media (max-width:767px) {}

/* small screens  */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Global animatoion */
@keyframes Up-Down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -30px;
    }
}

/* meduim  screens  */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large screens  */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/* ---- start elements ----  */
/* HEADING SECTION  */

.heading-section {
    background: white;
    box-shadow: 0px 10px 15px #ddd;
}

.heading-section>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.heading-section>.container>.logo {
    height: 73.6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-section>.container>.logo>a {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: var(--Main-color);
}

.heading-section>.container>.nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heading-section>.container>.nav>ul>li>a {
    height: 73.6px;
    padding: 0 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-size: 17px;
    transition: var(--duration);
    overflow: hidden;
    position: relative;
}

.heading-section>.container>.nav>ul>li>a::before {
    content: "";
    width: 100%;
    position: absolute;
    background: var(--Main-color);
    height: 4px;
    left: -100%;
    top: 0;
    transition: var(--duration);
}


.heading-section>.container>.nav>ul>li>a:hover {
    color: var(--Main-color);
    background-color: #ececec;
    border-radius: 5px;
    transform: translateX(5px);
}

.heading-section>.container>.nav>ul>li>a:hover::before {
    left: 0;
}

/* heading section responsive */
@media (max-width:767px) {

    .heading-section>.container {

        flex-direction: column;
    }
}

@media (max-width:767px) {
    .heading-section>.container>.nav>ul>li>a {
        font-size: 13px;
        padding: 0 10px;
        height: 50px;
    }
}


@media (max-width:767px) {

    .heading-section>.container>.logo {
        height: 45px;
        width: 100%;
    }
}


/* INTRO SECTION  */

.Intro {
    position: relative;
    overflow: hidden;
}

.Intro::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: left top;
}

.Intro>.container {
    min-height: calc(100vh - 73px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.Intro>.container>.intro-text {
    flex: 1;
    padding: 5px;
    text-align: center;
}



.Intro>.container>.intro-text>h1 {
    letter-spacing: -1px;
    color: var(--Main-color);
    font-size: 40px;
    margin: 0;
}

.Intro>.container>.intro-text>p {
    margin: 15px auto;
    line-height: 1.7;
    font-size: 21px;
    color: #444;
    max-width: 500px;
}

.Intro>.container>.intro-image>img {
    position: relative;
    width: 600px;
    max-width: 100%;
    animation-duration: 4.2s;
    animation-name: Up-Down;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        bottom: 10px;
    }

    40%,
    60% {
        bottom: 15px;
    }

}

.Intro>a {
    color: var(--Main-color);
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    animation-duration: 2s;
    animation-name: bouncing;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 14px;
}

.Intro>a:hover {
    color: var(--color-alt);
    text-shadow: 0 0 10px #ddd;
    animation-play-state: paused;
}

/* intro section responsive */
@media (max-width:991px) {
    .Intro>.container>.intro-text>h1 {
        font-size: 28px;
    }

    .Intro>.container>.intro-text>p {
        font-size: 18px;
    }
}

@media (max-width:992px) {
    .Intro>.container>.intro-image>img {
        display: none;
    }
}

@media (max-width:767px) {
    .Intro>.container>.intro-text>h1 {
        font-size: 25px;
    }

    .Intro>.container>.intro-text>p {
        font-size: 16px;
    }
}

@media (min-width:1200px) {
    .Intro>.container>.intro-text {
        text-align: start;
    }

    .Intro>.container>.intro-text>p {
        margin: 15px 0;
    }
}

@media (min-width:993px) {
    .Intro>.container>.intro-image {
        width: 550px;
    }

    .Intro>.container>.intro-text>h1 {
        font-size: 34px;
    }

    .Intro>.container>.intro-text>p {
        font-size: 18px;
    }
}

/* -! start  Mega Menu -! */

.hidden-nav {
    display: flex;
    position: absolute;
    top: calc(100% + 70px);
    left: 0;
    background: white;
    width: 100%;
    gap: 60px;
    transition: top, .3s opacity, 0.3s;
    padding: 30px;
    opacity: 0;
    border-bottom: 4px solid var(--Main-color);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.custom:hover .hidden-nav {
    opacity: 1;
    top: 100%;
    z-index: 100;
}

.hidden-nav>.picture {
    width: 50%;
}

.hidden-nav>ul {
    flex: 1;
}

.hidden-nav>ul>li>a {
    padding: 20px 10px 15px 10px;
    display: block;
    border-bottom: 2px solid #ececec;
    color: var(--Main-color);
    font-size: 18px;
    transition: border, var(--duration) transform, var(--duration);
}

.hidden-nav>ul>li>a:hover {
    border-bottom: 2px solid #ddd;
    transform: translateX(4px);
    background-color: #ececec;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.hidden-nav>ul>li>a>i {
    margin-right: 20px;
}

/* hidden nav responsive */

@media (max-width:767px) {
    .hidden-nav {
        flex-direction: column;
        gap: 0;
        padding: 30px 10px 0 10px;
    }

    .hidden-nav>ul>li>a {
        padding: 12px 10px 14px 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .hidden-nav>.picture {
        display: none;
    }

    .hidden-nav>ul {
        width: 100%;
    }
}

@media (min-width:767px) {
    .hidden-nav {
        gap: 20px;
        padding: 30px 9px;
        justify-content: space-around;
    }

    .hidden-nav>ul>li>a {
        padding: 20px 0px 15px 0px;
        font-size: 16px;
    }

    .hidden-nav>.picture {
        display: flex;
        align-items: center;
        width: 42%;
    }

    .hidden-nav>.picture>img {
        max-width: 100%;
    }

    .hidden-nav>ul {
        flex: 1;
    }
}


@media (min-width: 992px) {
    .hidden-nav>ul>li>a {
        padding: 20px 5px 15px 5px;
        font-size: 18px;
        font-weight: bold;
    }
}







/* start events section  */

.events-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.events-section>.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-top: 120px;
    padding-bottom: 120px;
    column-gap: 30px;
    row-gap: 70px;
}

.events-section>.container>.item {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 0px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%), 0 -2px 15px rgb(0 0 0 / 10%);
    transition: transform var(--duration), box-shadow var(--duration);
}

.events-section>.container>.item:hover {
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%), 0 -2px 15px rgb(0 0 0 / 30%);
    transform: translateY(-12px);
}

.events-section>.container>.item .content {
    width: 100%;
    border-top-right-radius: 5px;
    padding-bottom: 15px;
    border-bottom: 2px solid #dddddd78;
}

.events-section>.container>.item .content>img {
    width: 100%;
}

.events-section>.container>.item .content>h3 {
    margin-top: 20px;
    padding-left: 15px;
}

.events-section>.container>.item .content>p {
    margin-top: 20px;
    line-height: 1.8;
    padding-left: 15px;
}

.events-section>.container>.item .more-info {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all var(--duration);
}

.events-section>.container>.item .more-info>a {
    text-decoration: none;
    font-size: 16px;
    color: var(--Main-color);
    font-weight: bold;
}

.events-section>.container>.item .more-info i {
    font-size: 16px;
    color: var(--Main-color);
    animation-name: Link;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.events-section>.container>.item:hover .more-info {
    background-color: #dddddd9c;
}

.rebow>i {
    animation: Link var(--duration) linear infinite;
    animation-play-state: paused;
}

.events-section>.container>.item>div:hover .rebow>i {
    animation: Link 2s linear infinite;
    animation-play-state: running;
}

@keyframes Link {


    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

/* start gallary section  */

.gallary-section {
    padding-top: var(--section-Padding);
    padding-bottom: 70px;
    background-color: var(--section-background-color);
    position: relative;
}

.gallary-section::before {
    content: "";
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(220deg, white 25%, transparent 23%);
    background-color: var(--section-background-color);
    background-size: 30px;
}

.gallary-section>.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 50px;
    row-gap: 100px;
    padding-top: 100px;
}

.gallary-section>.container>.box {
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
    transition: var(--duration);
    overflow: hidden;
}

.gallary-section>.container>.box:not(:nth-child(2)):hover,
.gallary-section>.container>.box:not(:nth-child(5)):hover {
    transform: translate(0, -10px);
    box-shadow: 0px 2px 5px rgb(0 0 0 / 35%);
}

.gallary-section>.container>.box:nth-child(2):hover,
.gallary-section>.container>.box:nth-child(5):hover {
    transform: scale(1.1) translate(0, -20px);
    box-shadow: 0px 2px 5px rgb(0 0 0 / 35%);
}

.gallary-section>.container>.box:nth-child(2),
.gallary-section>.container>.box:nth-child(5) {
    transform: scale(1.1) translate(0, -10px);

}

.gallary-section>.container>.box img {
    width: 100%;
    height: 100%;
}

/* gallary responsive  */

@media (max-width:767px) {

    .gallary-section>.container>.box:nth-child(2),
    .gallary-section>.container>.box:nth-child(5) {
        transform: scale(1) translate(0, -10px);

    }

    .gallary-section>.container>.box:nth-child(2):hover,
    .gallary-section>.container>.box:nth-child(5):hover {
        transform: scale(1) translate(0, -20px);
    }

    .gallary-section>.container {
        row-gap: 40px;
    }

    .TESTIMONIALS>.container {
        padding-top: 12px;
    }
}

/* start features section  */

.features {
    padding-top: var(--section-Padding);
}

.features>.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    padding-top: 100px;
}


.features>.container>div {
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid #ddd;
    margin-bottom: 40px;
}

.features>.container>div>div:first-child {
    width: 100%;
    position: relative;
}

.features>.container>div>div:first-child>img {
    max-width: 100%;
}

.features>.container>div>.photo1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ff000063;
}

.features>.container>div>.photo2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00968866;
}

.features>.container>div>.photo3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #03a9f478;
}

.features>.container>div .text {
    padding: 25px;
}

.features>.container>div .text>h1 {
    width: fit-content;
    margin: 50px auto;
    padding-bottom: 20px;
    border-radius: 4px;
}

.ele1 {
    border-bottom: 5px solid #f44036;
}

.ele2 {
    border-bottom: 5px solid #009688;
}

.ele3 {
    border-bottom: 5px solid #03a9f4;
}

.features>.container>div .text>p {
    line-height: 2;
    font-size: 18px;
    color: #444;
}

.features>.container>div>div:last-child {
    padding: 25px;
    padding-bottom: 35px;
}

.features>.container>div>div:last-child>a {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 15px 30px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 19px;
}

.more1 a {
    color: #f44036;
    border: 3px solid;
}

.more2 a {
    color: #009688;
    border: 3px solid;
}

.more3 a {
    color: #03a9f4;
    border: 3px solid;
}

/* start TESTIMONIALS section */


.TESTIMONIALS {
    padding-bottom: 70px;
    padding-top: var(--section-Padding);
    background-color: var(--section-background-color);
}

.TESTIMONIALS>.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    padding-top: 100px;
}

.TESTIMONIALS>.container>.opinion {
    position: relative;
    background-color: white;
    padding-left: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(0 0 0 /20%);
}

.TESTIMONIALS>.container>.opinion>img {
    border-radius: 50%;
    height: 100px;
    border: 7px solid #ddd;
    position: absolute;
    top: -60px;
    right: -14px;
}

.TESTIMONIALS>.container>.opinion>h1 {
    font-size: 20px;
    color: var(--Main-color);
    margin: 15px 0;
}

.TESTIMONIALS>.container>.opinion>h4 {
    margin: 10px 0;
    font-weight: normal;
    color: #444;
}

.TESTIMONIALS>.container>.opinion>.rate {
    margin: 10px 0 7px 10px;
}

.rate1>.star1,
.rate1>.star2,
.rate1>.star3,
.rate1>.star4,
.rate2>.star1,
.rate2>.star2,
.rate2>.star3,
.rate2>.star4,
.rate3>.star1,
.rate3>.star2,
.rate3>.star3,
.rate3>.star4,
.rate4>.star1,
.rate4>.star2,
.rate4>.star3,
.rate4>.star4,
.rate4>.star5,
.rate5>.star1,
.rate5>.star2,
.rate5>.star3,
.rate6>.star1,
.rate6>.star2,
.rate6>.star3 {
    color: gold;
}

.TESTIMONIALS>.container>.opinion>p {
    line-height: 1.6;
    color: #444;
    padding-bottom: 12px;
}


/* TESTIMONIALS responsive  */

@media (max-width:767px) {
    .TESTIMONIALS>.container>.opinion>img {
        border-radius: 50%;
        height: 100px;
        border: 7px solid #ddd;
        position: absolute;
        top: -60px;
        right: -5px;
    }
}

/* start team member section  */
.team-member {
    padding-top: var(--section-Padding);
    padding-bottom: var(--section-Padding);
}

.team-member>.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 50px;
    padding-top: 100px;
    row-gap: 35px;
}

.team-member>.container>.box {
    padding-bottom: 20px;
    border-radius: 10px;
    padding-top: 50px;
    position: relative;
    overflow: hidden;
}

.team-member>.container>.box:hover .data>img {
    filter: grayscale(90%);
}

.team-member>.container>.box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: #ececec85;
    width: 80%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}

.team-member>.container>.box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: #ddd;
    width: 0;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: .2s linear;
}

.team-member>.container>.box:hover::after {
    width: 80%;
}

.team-member>.container>.box>.data {
    display: flex;
}

.team-member>.container>.box>.data>img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: .2s;
}

.team-member>.container>.box>.data>.social {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    gap: 15px;
}

.team-member>.container>.box>.data>.social>a {
    padding: 5px 0px 5px;
}

.team-member>.container>.box>.data>.social>a>i {
    font-size: 18px;
    color: #777;
    transition: .2s;
}

.team-member>.container>.box>.data>.social>a>i:hover {
    color: var(--Main-color);
}

.team-member>.container>.box>.info {
    padding-top: 15px;
    padding-bottom: 15px;
    width: fit-content;
    margin: auto;
}

.team-member>.container>.box>.info>h1 {
    margin: 0;
    margin: 10px 0;
    font-size: 22px;
    color: var(--Main-color);
}

.team-member>.container>.box>.info>h3 {
    font-size: 15px;
    color: #444;
    font-weight: normal;
}

/* start team member responsive  */



/* end team member section  */




/* start services section  */

.Services {
    padding-top: var(--section-Padding);
    background-color: #ececec;
    position: relative;
}

.Services::before {
    content: "";
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(220deg, white 25%, transparent 23%);
    background-color: var(--section-background-color);
    background-size: 30px;
}

.Services>.container {
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    text-align: center;
    gap: 50px;
}


.Services>.container>.service {
    background-color: white;
    counter-increment: numbers;
    box-shadow: 0px 10px 12px rgb(0 0 0 / 10%), 3px 1px 12px rgb(0 0 0 / 10%);
    font-family: 'Cairo', sans-serif;
    transition: .3s;
    border-radius: 5px;
    overflow: hidden;
}

.Services>.container>.service>i {
    font-size: 60px;
    color: #ddd;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Services>.container>.service>h1 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 35px;
    color: var(--Main-color);
}

.Services>.container>.service>.details {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: end;
    text-align: center;
}

.Services>.container>.service::before {
    content: "";
    width: 0;
    position: relative;
    height: 3px;
    top: 0;
    left: 50%;
    background-color: var(--Main-color);
    transition-duration: .3s;
    display: block;
    opacity: 0;
    transform: translateX(-50%);
}

.Services>.container>.service:hover::before {
    opacity: 1;
    width: 100%;
}

.Services>.container>.service:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgb(0 0 0 / 10%), 3px 1px 20px rgb(0 0 0 / 10%);
}


.Services>.container>.service>.details::before {
    content: "0" counter(numbers);
    width: 90px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--Main-color);
    display: flex;
    padding-left: 20px;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;


}

.Services>.container>.service>.details::after {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 75px;
    background-color: #ddd;
    transform: skewX(-30deg);
}

.Services>.container>.service>.details>a {
    padding: 0 10px;
    color: var(--Main-color);
}

/* services section responsive  */
@media (max-width:767px) {}

.Services>.container {
    padding: 60px 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* end services section  */

/* start Skills section  */
.skills-section {
    padding-top: var(--section-Padding);
    padding-bottom: var(--section-Padding);
}

.skills-section>.container {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    align-items: center;
}


.skills-section>.container>.skills {
    flex: 1;
}

.skills-section>.container>.skills>div {
    margin-bottom: 20px;
}

.skills-section>.container>.skills>div>h1 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 0;
    font-size: 17px;
    margin-top: 15px;
}

.skills-section>.container>.skills>div>div {
    width: 100%;
    height: 35px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.skills-section>.container>.skills>.skill1>div::before,
.skills-section>.container>.skills>.skill4>div::before {
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--Main-color);
    border-radius: 5px;
    transition: width .3s linear;
}

.skills-section>.container>.skills>.skill1>div::after,
.skills-section>.container>.skills>.skill4>div::after {
    content: "80%";
    position: absolute;
    right: 0px;
    top: -35px;
    width: fit-content;
    height: fit-content;
    color: var(--Main-color);
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #ddd;
    padding: 3px;
    border-radius: 4px;
}

.skills-section>.container>.skills>.skill2>div::before {
    content: "";
    height: 100%;
    width: 85%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--Main-color);
    border-radius: 5px;
    transition: width linear .3s;
}

.skills-section>.container>.skills>.skill2>div::after {
    content: "85%";
    position: absolute;
    right: 0px;
    top: -35px;
    width: fit-content;
    height: fit-content;
    color: var(--Main-color);
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #ddd;
    padding: 3px;
    border-radius: 4px;
}

.skills-section>.container>.skills>.skill3>div::before {
    content: "";
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--Main-color);
    border-radius: 5px;
    transition: width linear .3s;
}

.skills-section>.container>.skills>.skill3>div::after {
    content: "70%";
    position: absolute;
    right: 0px;
    top: -35px;
    width: fit-content;
    height: fit-content;
    color: var(--Main-color);
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #ddd;
    padding: 3px;
    border-radius: 4px;
}


/* skills responsive  */
@media (max-width:767px) {

    .skills-section>.container {
        flex-direction: column;
    }

    .skills-section>.container>img {
        width: 100%;
    }

    .skills-section>.container>.skills {
        width: 100%;
    }
}

@media (min-width:767px) {

    .skills-section>.container>img {
        height: 260px;
    }
}

@media (min-width:992px) {

    .skills-section>.container>img {
        height: 365px;
    }
}

/* end skills section  */


/* start work steps  */

.work-steps {
    padding-top: 100px;
    background-color: var(--section-background-color);
    padding-bottom: 100px;
}

.work-steps>.container {
    padding-top: 80px;
    display: flex;
    align-items: center;
}

.work-steps>.container>img {
    margin-right: 90px;
}

.work-steps>.container>.steps {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8px;
}

.work-steps>.container>.steps>.step {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 25px 20px;
    border-radius: 5px;
    border: 1px solid #7439a7;
    position: relative;
    z-index: 1;
}

.work-steps>.container>.steps>.step::before {
    content: "";
    position: absolute;
    background: #ececec;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    width: 0;
    height: 0;
    border-radius: 5px;
    z-index: -1;
}

.work-steps>.container>.steps>.step:hover::before {
    width: 100%;
    height: 100%;
}

.work-steps>.container>.steps>.step>img {
    height: 70px;
    align-self: center;
    margin-top: 20px;
    margin-right: 20px;
}

.work-steps>.container>.steps>.step>div {
    padding: 0 10px;
}


.work-steps>.container>.steps>.step>div>h1 {
    margin: 0;
    margin: 10px 0;
    font-size: 18px;
    color: #7439a7;
    margin-bottom: 15px;

}

.work-steps>.container>.steps>.step>div>p {
    line-height: 1.8;
    color: #444;
}


/* work steps responsive  */
@media (max-width:767px) {

    .work-steps>.Main-head {
        font-size: 12px;
    }

    .work-steps>.container {
        flex-direction: column;
    }

    .work-steps>.container>img {
        max-width: 100%;
        margin-right: 0;
    }

    .work-steps>.container>.steps {
        width: 100%;
        flex-direction: column;
        gap: 60px;
        padding: 10px;
        margin-top: 60px;
    }

    .work-steps>.container>.steps>.step {
        padding: 25px 15px;
        flex-direction: column;
        text-align: center;
    }

    .work-steps>.container>.steps>.step>img {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

@media (max-width:992px) {
    .work-steps>.container>img {
        max-width: 100%;
        margin-right: 0;
    }

    .work-steps>.container {
        flex-direction: column;
    }

    .work-steps>.container>.steps {
        gap: 40px;
        padding: 8px;
        margin-top: 70px;
    }
}

/* /* end work steps   */

/* start latest events section  */


/* start latest events section  */

.latest-events {
    padding-top: var(--section-Padding);
    padding-bottom: var(--section-Padding);
    position: relative;
}

.latest-events>.container {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
}

.latest-events>.container>.dots-up {
    width: fit-content;
    position: absolute;
    right: 0;
    top: 140px;
}

.latest-events>.container>.dots-down {
    width: fit-content;
    position: absolute;
    left: 0;
    bottom: 0;
}

.latest-events>.container>.image {
    width: fit-content;
}

.latest-events>.container>.image>img {
    height: 400px;
}

.latest-events>.container>.time-zone {
    text-align: center;
    padding: 20px;
    flex: 1;
}

.latest-events>.container>.time-zone>.times {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.latest-events>.container>.time-zone>.times>.time {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    align-items: center;
    width: 75px;
    border-radius: 7px;
    transition: .2s;
}

.latest-events>.container>.time-zone>.times>.time:hover span:first-child {
    border-bottom: 1px solid var(--Main-color);
}

.latest-events>.container>.time-zone>.times>.time:hover {
    border: 1px solid var(--color-alt);
    transform: translateY(-2px);
}

.latest-events>.container>.time-zone>.times>.time>span:first-child {
    border-bottom: 1px solid #ddd;
    padding: 15px 10px;
    text-align: center;
    font-size: 27px;
    line-height: 1.6;
    color: var(--Main-color);
    font-weight: bold;
    transition: .2s;
}

.latest-events>.container>.time-zone>.times>.time>span:last-child {
    font-size: 14px;
    padding-top: 7px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 7px;
    color: #444;
}

/* .latest-events>.container>.time-zone>.text {} */

.latest-events>.container>.time-zone>.text>h1 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 1.5;
}

.latest-events>.container>.time-zone>.text>p {
    line-height: 1.8;
    font-size: 17px;
    color: #444;
}

.latest-events>.container>.form {
    display: block;
    width: 100%;
    height: 70px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.latest-events>.container>.form>form {
    padding: 30px 35px;
    background: #ececec99;
    border-radius: 55px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 15px;
}

.latest-events>.container>.form>form>input:first-child {
    border-radius: 25px;
    border: none;
    background: white;
    flex: 1;
    font-size: 18px;
    color: black;
    transition: .1s;
    outline: none;
    padding: 18px;
}

.latest-events>.container>.form>form>input:first-child:focus {
    color: var(--Main-color);

}

.latest-events>.container>.form>form>input:last-child {
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    color: white;
    background: var(--Main-color);
    cursor: pointer;
    transition: .2s;
}

.latest-events>.container>.form>form>input:last-child:hover {
    background: var(--color-alt);
}

/* latest events responsive  */
@media (max-width:767px) {

    .latest-events>.Main-head {
        font-size: 11px;
    }

    .latest-events>.container>.dots-up {
        top: auto;
    }

    .latest-events>.container>.image {
        display: none;
    }

    .latest-events>.container>.time-zone {
        padding: 0px;
        margin-top: 200px;
    }

    .latest-events>.container>.time-zone>.times>.time {
        width: auto;
    }

    .latest-events>.container>.time-zone>.times>.time>span:first-child {
        padding: 15px 9px;
    }

    .latest-events>.container>.form {
        width: 100%;
        margin-top: 50px;
        padding: 13px;
        border-radius: 10px;
        background-color: #ececec;
    }

    .latest-events>.container>.form>form {
        padding: 0px 0px;
        background: none;
        border-radius: 55px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        flex-direction: column;
        gap: 20px;
    }

    .latest-events>.container>.form>form>input:first-child {
        font-size: 15px;
        border-radius: 10px;
    }

    .latest-events>.container>.form>form>input:last-child {
        padding: 12px 10px;
        font-size: 15px;
        border-radius: 10px;
        border: none;
        width: 50%;
        margin: auto;
        color: white;
        background: var(--Main-color);
        cursor: pointer;
        transition: .2s;
        z-index: 1;
    }
}

/* start pricing plan  */

.pricing-plan {
    padding-top: var(--section-Padding);
    padding-bottom: var(--section-Padding);
    background: var(--section-background-color);
    margin-top: 70px;
    position: relative;
}

.pricing-plan::after {
    content: "";
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px;
}

.pricing-plan>.container {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing-plan>.container>div {
    background-color: white;
    flex: 1;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
    border-radius: 8px;
}

.pricing-plan>.container>div:first-child,
.pricing-plan>.container>div:nth-child(3) {
    z-index: 2;
}

.pricing-plan>.container>div:nth-child(2) {
    transform: translateY(-30px);
    position: relative;
}

.pricing-plan>.container>div:nth-child(2)::before {
    content: "Most Popular";
    position: absolute;
    background: var(--color-alt);
    padding: 12px;
    transform: rotate(90deg);
    top: 55px;
    right: -30px;
    color: white;
    width: 130px;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 3px;
}

.pricing-plan>.container>div:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 111px;
    right: 25px;
    border-style: solid;
    border-width: 22px;
    border-color: transparent transparent white transparent;
}

.pricing-plan>.container>div>.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px;
    margin-bottom: 20px;
}

.pricing-plan>.container>div>.price>h1:first-child {
    font-size: 25px;
    margin-bottom: 25px;
    letter-spacing: -2px;
}

.pricing-plan>.container>div>.price>img {
    height: 80px;
    width: 80px;
}

.pricing-plan>.container>div>.price>:nth-child(3) {
    font-size: 55px;
    margin-bottom: 10px;
    color: var(--Main-color);
}

.pricing-plan>.container>div>.price>h3 {
    font-size: 14px;
    color: #777;
}

.pricing-plan>.container>div>h3 {
    padding: 25px 14px;
    border-top: 1px solid #ddd;
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

.pricing-plan>.container>div>h3::before {
    content: "\f00c";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    margin-right: 15px;
    color: var(--Main-color);
    font-size: 20px;
}

.pricing-plan>.container>div>a {
    padding: 17px;
    margin: 20px auto 30px auto;
    display: block;
    font-weight: bold;
    width: fit-content;
    border-radius: 8px;
    font-size: 15px;
    color: var(--Main-color);
    border: 2px solid var(--Main-color);
    transition: .2s;
}

.pricing-plan>.container>div>a:hover {
    background-color: var(--Main-color);
    color: white;
}

.pricing-plan>.container>div:nth-child(4) {
    position: absolute;
    left: 0;
    bottom: 0;
    background: none;
    box-shadow: none;
}

.pricing-plan>.container>div:last-child {
    position: absolute;
    right: 0;
    background: none;
    box-shadow: none;
}

/* start Pricing-Plan responsive */
@media (max-width:767px) {
    .pricing-plan>.container>div:nth-child(2) {
        transform: translateY(0);
    }
}

/* start videos section  */
.videos {
    padding-top: var(--section-Padding);
    padding-bottom: var(--section-Padding);
}

.videos>.container {
    padding-top: 80px;
}

.videos>.container>.video {
    display: flex;
    justify-content: space-between;
    background: #ddd;
}

.videos>.container>.video>.list {
    background: white;
    border: 1px solid #ddd;
    width: 300px;
}

.videos>.container>.video>.list>.head {
    padding: 20px;
    display: flex;
    font-weight: bold;
    background: #f2dbdb96;
    position: relative;
    align-items: center;
}

.videos>.container>.video>.list>.head::after {
    content: "\f074";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    position: absolute;
    right: 26px;

}

.videos>.container>.video>.list>ul {
    /* padding: 15px 20px; */
    height: calc(100% - 59px);
}

.videos>.container>.video>.list>ul>li {
    width: 100%;
    height: calc(100% / 7);
    padding: 14px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .2s;
}

.videos>.container>.video>.list>ul>li:hover {
    background-color: #ececec70;
}

.videos>.container>.video>.list>ul>li:hover a {
    color: var(--Main-color);
}

.videos>.container>.video>.list>ul>li:last-child {
    border-bottom: none;
}

.videos>.container>.video>.list>ul>li>a {
    margin-bottom: 10px;
    display: block;
    color: #444;
    transition: .2s;

}

.videos>.container>.video>.list>ul>li>span {
    display: block;
    color: #777;
}

.videos>.container>.video>.info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 130px;
    flex: 1;
}

.videos>.container>.video>.info>img {
    height: 450px;
}

.videos>.container>.video>.info>h1 {
    font-size: 15px;
    margin: 0;
    background: white;
    padding: 15px;
    margin: 20px 0 10px;
    font-weight: normal;
}


/* videos section responsive  */

@media (max-width:992px) {
    .videos>.Main-head {
        font-size: 13px;
    }

    .videos>.container>.video {
        flex-direction: column;
        align-items: center;
        background: none;
    }

    .videos>.container>.video>.list {
        width: 100%;
    }

    .videos>.container>.video>.list>ul>li>a {
        font-size: 15px;
    }

    .videos>.container>.video>.list>ul>li>span {
        font-size: 12px;
    }

    .videos>.container>.video>.info {
        margin-top: 40px;
        background: #ddd;
        width: 100%;
        gap: 0;
    }

    .videos>.container>.video>.info>img {
        width: 100%;
        height: auto;
    }

    .videos>.container>.video>.info>h1 {
        font-size: 13px;
    }

}

@media (min-width:992px),
(max-width:1200px) {
    .videos>.container>.video>.info>img {
        height: auto;
        width: 100%;
    }
}


/* start states section  */

.stats {
    padding-top: var(--section-Padding);
    padding-bottom: var(--section-Padding);
    background: rgb(221 221 221 / 16%);
}

.stats>h1 {
    width: fit-content;
    margin: auto;
    font-size: 35px;
}

.stats>.container {
    padding-top: 70px;
    display: grid;
    justify-content: space-between;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.stats>.container>.box {
    flex: 1;
    text-align: center;
    background: rgb(221 221 221 / 23%);
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.stats>.container>.box::before {
    content: "";
    position: absolute;
    width: 2px;
    top: 0;
    left: 0;
    transition: .6s;
    background: var(--Main-color);
    height: 0;
}

.stats>.container>.box::after {
    content: "";
    position: absolute;
    width: 2px;
    bottom: 0;
    right: 0;
    transition: .6s;
    background: var(--Main-color);
    height: 0;
}

.stats>.container>.box:hover::after {
    height: 100%;
}

.stats>.container>.box:hover::before {
    height: 100%;
}

.stats>.container>.box>i {
    font-size: 35px;
}

.stats>.container>.box>h1 {
    font-size: 45px;
    margin: 20px 0;
    color: #444;
}

.stats>.container>.box>h3 {
    font-size: 17px;
    font-style: italic;
    color: var(--Main-color);
}

/* start discount section  */
.discount {
    display: flex;
}

.discount>.string {
    width: 50%;
    text-align: center;
    background-image: url("../pictures/discount-background1.jpg");
    padding: 80px 60px;
    position: relative;
    animation: photo 8s linear infinite;
}

.discount>.string::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(23 135 224 / 97%);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.discount>.string>h1 {
    margin-bottom: 40px;
    color: white;
    position: relative;
    font-size: 35px;
    letter-spacing: -2px;
}

.discount>.string>p {
    line-height: 1.8;
    margin: 15px auto;
    color: white;
    position: relative;
    font-weight: 500;
}

.discount>.string>img {
    height: 300px;
    position: relative;
}

.discount>.form {
    flex: 1;
    text-align: center;
}

.discount>.form>form {
    flex-direction: column;
    display: flex;
    width: 50%;
    margin: auto;
    padding: 25px 0;
}

.discount>.form>h1 {
    margin-bottom: 40px;
    letter-spacing: -2px;
}

.discount>.form>form>input {
    padding: 15px;
    margin-bottom: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 15px;
    caret-color: var(--Main-color);
}

.discount>.form>form>textarea {
    padding: 15px;
    margin-bottom: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    resize: none;
}


.discount>.form>form>input:nth-child(5) {
    background: var(--color-alt);
    color: white;
    font-size: 17px;
}

.discount>.form>form>input:last-child {
    background: var(--color-alt);
    color: white;
    font-size: 17px;
}

@keyframes photo {

    0%,
    100% {
        background-image: url("../pictures/discount-background1.jpg");
    }

    50% {
        background-image: url("../pictures/discount-background2.jpg");
    }
}

/* discount responsive  */

@media (max-width:767px) {
    .discount {
        flex-direction: column;
    }

    .discount>.string {
        width: 100%;
        padding: 80px 20px;
    }

    .discount>.string>img {
        height: auto;
        width: 100%;
    }

    .discount>.form>form {
        width: 100%;
        padding: 25px;
    }
}


/* start footer section  */

.footer {
    background: #191919;
    padding: 50px 0 0;
}

.footer>.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer>.container>div {
    padding: 5px;
}

.footer>.container>.box1>h1 {
    margin: 0;
    font-size: 45px;
    font-family: 'Cairo';
    letter-spacing: 0px;
    margin-bottom: 25px;
    color: var(--Main-color);
}

.footer>.container>.box1>ul {
    display: flex;
    gap: 10px;
}

.footer>.container>.box1>ul>li {
    font-size: 20px;
    background: #313131;
    transition: .2s;
}

.footer>.container>.box1>ul>li:first-child:hover {
    background-color: #1877f2;
}

.footer>.container>.box1>ul>li:nth-child(2):hover {
    background-color: #1da1f2;
}

.footer>.container>.box1>ul>li:last-child:hover {
    background-color: #ff0000;
}

.footer>.container>.box1>ul>li>a {
    color: #b9b9b9;
    display: block;
    height: 100%;
    width: 100%;
    padding: 12px 18px;
}

.footer>.container>.box1>p {
    padding-top: 15px;
    line-height: 1.5;
    color: #777;
}

.footer>.container>.box1>h4 {
    padding-top: 15px;
    color: var(--Second-color);
}

.footer>.container>.box2 {
    margin-left: 25px;
}

.footer>.container>.box2>ul>li {
    display: flex;
    align-items: center;
    position: relative;
    align-items: center;
}

.footer>.container>.box2>ul>li:not(:last-child) {
    border-bottom: 1px solid #ececec80;
}


.footer>.container>.box2>ul>li>a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 15px 0;
    color: #b9b9b9;
    padding-left: 30px;
    position: relative;
    transition: var(--duration);
}


.footer>.container>.box2>ul>li>a::before {
    content: "\F101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: var(--Main-color);
}

.footer>.container>.box2>ul>li>a:hover {
    transform: translateX(10px);
    color: white;
}


/* .footer>.container>.box3 {
} */

.footer>.container>.box3>ul>div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer>.container>.box3>ul>div>i {
    font-size: 25px;
    margin-right: 15px;
    color: var(--Main-color);
}



.footer>.container>.box3>ul>div>li {
    color: #ddd;
    font-size: 15px;
    padding: 5px;
    line-height: 2;
}

.footer>.container>.box3>ul>div>li:first-child>span {
    color: #777;
    text-decoration: underline;
}

.footer>.container>.box3>ul>div>li:nth-child(2)>span {
    color: #777;
    text-decoration: underline;
}


.footer>.container>.box3>ul>div>li:last-child>span {
    display: block;
}


.footer>.container>.box4 {
    text-align: center;
}

.footer>.container>.box4>img {
    width: calc(235px / 3);
    border: 3px solid white;
}

.footer>h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    padding: 25px 0;
    border-top: 2px solid #444;
    color: #ddd;
    position: relative;
}

.footer>h2>span {
    color: var(--Main-color);
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    position: relative;
}

.footer>h2>span::after {
    content: "\f4da";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 3px;
    right: -20px;
    font-weight: 900;
    font-style: normal;
}


/* footer responsive  */

@media (max-width:767px) {

    .footer>.container>.box1 {
        text-align: center;
    }

    .footer>.container>.box1>ul {
        justify-content: center;
    }

    .footer>.container>.box2 {
        margin-left: 0;
    }

    .footer>.container>.box2>ul {
        padding: 10px;
    }

    .footer>.container>.box3>.contact {
        text-align: center;
    }

    .footer>.container>.box3>ul>div {
        margin-bottom: 30px;
        flex-direction: column;
    }

    .footer>.container>.box3>ul>div>i {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .footer>h2 {
        font-size: 14px;
    }
}

/* ---- end elements ----  */